.vscode/**
src/**
test/**
node_modules/**
out/**
**/*.ts
**/*.map
esbuild.js
tsconfig.json
.gitignore
.editorconfig
.vscodeignore
docs/**
media/*.svg
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
SUPPORT.md
.github/**
**/.git/**
*.vsix
